/* Estilos gerais */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Conteúdo principal */
.content {
  flex-grow: 1;
  padding: 20px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* Header */
.header {
  padding: 10px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

.header .dropdown-toggle {
  background: none;
  border: none;
  color: black;
  font-size: 18px;
}

.header .dropdown-toggle:hover {
  color: #797979;
}

/* Cartão de Filtro */
.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.results {
  overflow-x: scroll;
  min-height: 500px;
}

/* Tabela Responsiva */
.table-responsive {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-left: none;
}

.table th {
  background-color: #343a40;
  color: white;
  padding: 10px;
  text-align: center;
}

.table td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.dropdown-toggle::after {
  display: none !important;
}

/* Footer */
.footer {
  background-color: #62686e;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Botão Flutuante */
.btn-float {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background: linear-gradient(135deg, #28a745, #218838);
  color: white;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  font-size: 28px;
  text-align: center;
  line-height: 65px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: 0.3s ease-in-out;
  z-index: 500;
}

.btn-float:hover {
  background: linear-gradient(135deg, #218838, #1e7e34);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .header .dropdown-toggle {
    font-size: 14px;
  }

  thead {
    font-size: 12px;
  }

  tbody {
    font-size: 12px;
  }

  .btn-float {
    right: 50%;
    transform: translateX(50%);
    bottom: 80px;
  }

  .footer {
    font-size: 12px;
  }
}

/* Estilos para o modal de confirmação */
#deleteModal .modal-content {
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#deletModal > button {
  cursor: pointer;
}

#deleteModal .modal-header {
  background-color: #ffcfcf;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#deleteModal .modal-title {
  color: #343a40;
  font-weight: 600;
}

#deleteModal .modal-body,
#deleteModal .modal-footer {
  background-color: #f8f9fa;
}



#deleteModal .alert-warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
  border-radius: 6px;
  padding: 15px;
  margin-top: 15px;
}

#deleteModal .list-unstyled li {
  margin-bottom: 8px;
}

#deleteModal .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  transition: all 0.3s ease;
}

#deleteModal .btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

#deleteModal .btn-danger.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

#deleteModal .spinner-border {
  margin-right: 8px;
}