<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Link para o CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />

    <!-- Ícones da FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Anta&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <!-- Formulário de Login -->
      <div class="form-container">
        <div class="overlay">
          <form
            method="POST"
            action="{{ url_for('routes.login') }}"
            id="loginForm"
          >
            <div class="con">
              <!-- Cabeçalho do Formulário -->
              <header class="head-form">
                <h2>Sign in</h2>
                <p>Faça login usando seu nome de usuário e senha</p>
              </header>

              <div class="field-set">
                <div class="loader-container" id="loader" style="display: none">
                  <svg viewBox="0 0 400 160">
                    <text
                      x="50%"
                      y="50%"
                      dy=".32em"
                      text-anchor="middle"
                      class="text-body"
                      id="animation-text"
                    >
                      TOPI
                    </text>
                    <text
                      x="50%"
                      y="50%"
                      dy=".32em"
                      dx="1.2em"
                      text-anchor="middle"
                      class="dot"
                    >
                      .
                    </text>
                  </svg>
                </div>

                <!-- Nome de usuário -->
                <div class="input-group">
                  <i class="fa fa-user-circle"></i>
                  <input
                    class="form-input"
                    id="txt-input"
                    type="text"
                    placeholder="@UserName"
                    name="usuario"
                    required
                  />
                </div>

                <!-- Senha -->
                <div class="input-group">
                  <i class="fa fa-key"></i>
                  <input
                    class="form-input"
                    type="password"
                    placeholder="Password"
                    id="pwd"
                    name="senha"
                    required
                  />
                  <i class="fa fa-eye" aria-hidden="true" id="eye"></i>
                </div>

                <!-- Dropdown -->
                <div class="input-group">
                  <i class="fa fa-cogs"></i>
                  <select class="form-input" id="topiSelect">
                    <option value="" disabled selected>Nome da Coligada</option>
                    <option value="1">CIS</option>
                    <option value="2">TOPI</option>
                  </select>
                </div>

                <!-- Botão de Login -->
                <button class="log-in" type="submit">Entrar</button>
              </div>
            </div>
          </form>
          <div class="footer-form">
            <span >© 2025 TOPI. Todos os direitos reservados.</span>
            <p >
              Desenvolvido por Rodrigo Bittencourt / Renan Ferreira / Bruno Sérvio
            </p>
          </div>
        </div>
      </div>

      <div class="login-img">
        <img
          src="{{ url_for('static', filename='img/loginimg.webp') }}"
          alt="Logo"
          class="logo"
        />
      </div>
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  </body>
</html>
